
body{
    background: rgb(138, 134, 134);
}
nav{
    display: flex;
    justify-content:flex-start;
    background:#4d4e52 ;
}
nav a{
    color: rgb(238, 247, 247);
    text-decoration: none;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover{
    background: rgb(26, 23, 23);
    color: white;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#map{
    display: flex;
    justify-content: center;
}
#mapa{
    display: flex;
    justify-content: center;
    outline: 5px solid rgb(15, 15, 15);
    width: 700px;
    height: 700px;
}
#mapa iframe{
    width: 100%;
    height: 100%;
}